.header-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
}

.email {
  margin-left: 35%;
}

.header-container h1 {
  color: #475e11;
  font-size: 2.2em;
}
