form {
  align-items: center;
  background-color: rgb(92, 92, 92);
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
}

label {
  margin: 0 10px;
}

input , select {
  background-color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  padding: 5px;
}

form button {
  background-color: #597515;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  padding: 8px 10px;
  margin-left: 10px;
}
